In [1]:
#Essential Statistics And Mathematics For Data Science

#Q1. Convert a 1D array to a 2D array with 2 rows
import numpy as np

a = np.array([1, 2, 3, 4, 5, 6])

# Convert to 2 rows
b = a.reshape(2, -1)

print(b)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
#Q2. Get the common items between a and b
import numpy as np

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

common = np.intersect1d(a, b)

print(common)

In [ ]:
#Q3. Get all items between 5 and 10 from a
import numpy as np

a = np.array([2, 6, 1, 9, 10, 3, 27])

result = np.where((a >= 5) & (a <= 10))

print(a[result])

In [ ]:
#Q4. Limit the number of items printed in NumPy array to maximum 6 elements
import numpy as np

a = np.arange(15)

np.set_printoptions(threshold=6)

print(a)

#pandas

In [ ]:
#1. Compute minimum, 25th percentile, median, 75th percentile, and maximum of ser
import pandas as pd
import numpy as np

ser = pd.Series(np.random.normal(10, 5, 25))

print("Minimum:", ser.min())
print("25th Percentile:", ser.quantile(0.25))
print("Median:", ser.median())
print("75th Percentile:", ser.quantile(0.75))
print("Maximum:", ser.max())

In [ ]:
#2. Creating a Pandas DataFrame and Using Sample Data Sets
import pandas as pd

data = {
    'Name': ['Amit', 'Riya', 'Raj', 'Simran'],
    'Age': [21, 22, 20, 23],
    'Marks': [85, 90, 78, 88]
}

df = pd.DataFrame(data)

print(df)

In [ ]:
#3. Create a Pandas DataFrame using NumPy (5 rows, 3 columns)
import numpy as np
import pandas as pd

array = np.random.randint(1, 100, size=(5, 3))

df = pd.DataFrame(array, columns=['A', 'B', 'C'])

print(df)

In [ ]:
#4. Default behavior of labels in DataFrame created from NumPy array
import numpy as np
import pandas as pd

arr = np.random.rand(3,3)
df = pd.DataFrame(arr)

print(df)

In [ ]:
#5. Load CSV file (10,000 rows, 12 columns â€“ numerical + text values)
import pandas as pd

df = pd.read_csv("data.csv")

print(df.head())
print(df.info())
print(df.describe())

In [ ]:
#6. Show number of rows and columns
print(df.shape)

In [ ]:
#7. Show first few rows of DataFrame
df.head()

In [ ]:
#8. If you select a single column from diamonds DataFrame, what is return type?

#Example:

diamonds['price']

In [ ]:
#9. Create a Line Plot

#Using matplotlib:

import matplotlib.pyplot as plt

x = [3, 4, 5, 6]
y = [1.5, 2, 2.5, 3]

plt.plot(x, y)
plt.xlabel("X")
plt.ylabel("Y")
plt.title("Line Plot")
plt.show()

In [ ]:
#10. Plot x, xÂ², xÂ³, xâ´ with specific styles
import numpy as np
import matplotlib.pyplot as plt

x = np.arange(0, 6.1, 0.3)

plt.plot(x, x**2, 'ro')   # red circles
plt.plot(x, x**3, 'bs')   # blue squares
plt.plot(x, x**4, 'g')    # green line
plt.plot(x, x, ':')       # dotted line

plt.xlim(0, 6)
plt.ylim(0, 125)

plt.xlabel("X")
plt.ylabel("Y")
plt.title("Power Functions Plot")
plt.show()

In [ ]:
#11. Bar Plot â€“ Height Comparison
import matplotlib.pyplot as plt

height = [179, 155, 191, 152, 188, 177]
names = ['QA', 'WB', 'EC', 'RD', 'TE', 'YF']

plt.bar(names, height)
plt.title("Height Comparison")
plt.xlabel("Names")
plt.ylabel("Height")
plt.show()

In [ ]:
#12. Histogram with 10, 20, 50 bins
import numpy as np
import matplotlib.pyplot as plt

# Generate 100000 random normal values
x = np.random.randn(100000)

# 10 bins
plt.hist(x, bins=10)
plt.title("Histogram with 10 bins")
plt.show()
# 20 bins
plt.hist(x, bins=20)
plt.title("Histogram with 20 bins")
plt.show()

# 50 bins
plt.hist(x, bins=50)
plt.title("Histogram with 50 bins")
plt.show()

13. Features of TensorFlow
Open-source machine learning framework
Developed by Google
Supports deep learning & neural networks
Works on CPU, GPU, and TPU
Scalable for large datasets
Supports Python, C++, Java
Provides Keras high-level API
Used for AI applications like NLP, Image Recognition

 14. Limitations of TensorFlow

Complex for beginners
Debugging can be difficult
Large memory usage
Slower compared to some newer frameworks
Requires good hardware for deep learning tasks

 15. Supervised vs Unsupervised Machine Learning
ðŸ”¹ Supervised Learning
Uses labeled data
Input + Output both known
Used for Classification & Regression

Example:
Spam email detection
House price prediction

Algorithms:
Linear Regression
Decision Tree
SVM

ðŸ”¹ Unsupervised Learning
Uses unlabeled data
Only input given
Used for Clustering & Pattern detection

Example:
Customer segmentation
Market basket analysis

Algorithms:
K-Means
Hierarchical clustering
PCA